@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header{
    display: flex;
    background-color: #FFFFFF; 
height: 117px;
   
    
}
header img {
    padding-bottom: 30px;
    width: 180px;
    height: 212px;
}
nav {
    display: flex;
    gap: 40%;
    align-items: center;
    justify-content: center;
    padding-left: 30%;

}
nav a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
nav a:hover {
opacity: 0.5;
}

main{
    display: flex;
    background-color:#A0D7D4 ;
    background-image: url("assets/fundo_main.svg");
height: 420px;
gap: 25%;


}
main img{
   padding-left: 10% ;
}
main div {
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  gap: 5%;
}
div h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
   
  
}
div p{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
   
}
@media (max-width:1100px) {
    header img {
        padding-bottom: 3%;
        width: 30%;
    
    }
    nav {
   
        gap: 10%;
        padding-left: 8%;
    
    }
    nav a{
        font-size:17px;
    }

    main{
       
    gap: 0%;
    height: 400px;
    
    
    }
    main img{
       padding-left: 0% ;
       width: 50%;
    }
    main div {
      display: flex;
      flex-direction: column;
      padding-top: 15%;
      gap: 2%;
    }
}

@media (max-width:900px) {

    header img {
        padding-bottom: 6%;
        width: 30%;
    
    }
    nav {
   
        gap: 10%;
        padding-left: 8%;
    
    }
    nav a{
        font-size:20px;
    }

    main{
       
    gap: 0%;
    height: 300px;
    
    
    }
    main img{
       padding-left: 0% ;
       width: 20%;
    }
    main div {
      display: flex;
      flex-direction: column;
      padding-top: 15%;
      gap: 2%;
    }
    
}


@media (max-width:700px) {
    

    header img {
        padding-bottom: 6%;
        width: 30%;
    
    }
    nav {
   
        gap: 10%;
        padding-left: 8%;
    
    }
    nav a{
        font-size:20px;
    }

    main{
       
    gap: 0%;
    height: 300px;
    
    
    }
    main img{
       padding-left: 0% ;
       width: 50%;
    }
    main div {
      display: flex;
      flex-direction: column;
      padding-top: 15%;
      gap: 2%;
    }


}

@media ( max-width: 667px) {
    header img {
        padding-bottom: 10%;
        width: 30%;
    
    }
    nav {
   
        gap: 10%;
        padding-left: 10%;
    
    }
    nav a{
        font-size: 14px;
    }

    main{
       
    gap: 0%;
    height: 220px;
    
    
    }
    main img{
       padding-left: 0% ;
       width: 50%;
    }
    main div {
      display: flex;
      flex-direction: column;
      padding-top: 15%;
      gap: 2%;
    }
    div h2{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
      text-align: center;
       
      
    }
    div p{
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        font-size: 14px;
        text-align: center;
    }
    
}
@media (max-width:338px) {
    nav {
   
        gap: 2%;
        padding-left: 0%;
    
    }
    nav img{
        width: 40%;
    }
    nav a{
        font-size: 12px;
        gap: 10px;
    }
    main img{
        padding-left: 0% ;
        width: 20%;
     }
     main{
        height: 100px;
     }
     main div {
       display: flex;
       flex-direction: column;
       padding-top: 15%;
       gap: 2%;
     }
     div h2{
        font-size: 13px;
     }
     div p{
        font-size: 12px;
     }
}



.container{
    position: relative;
    padding: 15px;
    max-width: 70%;
    margin: 0 auto;
}
.gallery-wrapper{
    overflow-x: auto;/*se o conteundo fizer um overflow (elemento filho passou do elemento do conteundo pai )
    ele faça um auto coloca as barras ali
    */
}
.gallery{
    display: flex;
    flex-flow: row nowrap ;/*não esta deixando ele quebrar flex-flow e la define se vai row ou column etc e no segundo valor se vai ter quebrar de linha ou não*/
    gap: 15px;
}
.arrow-left,
.arrow-right {
  position: absolute;
/* isso esta fazendo que elemento fique na altura total */
  top: 40%; /* se esse e 0*/
  left: -6%;
  bottom: 0;/*e esse também 0 ele vai tentar encontrar o topo estica o elemento */

  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: 104%;
  text-align: right;

}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
}

.item {
  width: 190px;
  height: 190px;
  flex-shrink: 0;/*Esta fazendo nenhum item diminuir para caber*/
  transition: all 600ms ease-in-out;
  opacity: 0.5;
}

.current-item {
  opacity: 1;
}
.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  

  /* escoder a scrollbar  */
  /* Hide scrollbar for IE, Edge and Firefox */
  .gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .cyan {
    background: cyan;
  }
  
  .deeppink {
    background: deeppink;
  }
  
  .turquoise {
    background: turquoise;
  }
  
  .darkblue {
    background: darkblue;
  }
  
  .purple {
    background: purple;
  }
  